<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
<dict>  
    <key>GameSpeed</key>
    <string>1.8</string> 
    <key>ArmyInfo</key>
    <dict>
    	<key>Army001</key>
        <dict>
            <key>PosX</key>
            <string>0.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army002</key>
        <dict>
            <key>PosX</key>
            <string>3.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army003</key>
        <dict>
            <key>PosX</key>
            <string>2.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army004</key>
        <dict>
            <key>PosX</key>
            <string>3.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army005</key>
        <dict>
            <key>PosX</key>
            <string>0.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army006</key>
        <dict>
            <key>PosX</key>
            <string>2.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army007</key>
        <dict>
            <key>PosX</key>
            <string>0.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army008</key>
        <dict>
            <key>PosX</key>
            <string>1.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army009</key>
        <dict>
            <key>PosX</key>
            <string>3.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army010</key>
        <dict>
            <key>PosX</key>
            <string>2.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army011</key>
        <dict>
            <key>PosX</key>
            <string>3.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army012</key>
        <dict>
            <key>PosX</key>
            <string>1.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army013</key>
        <dict>
            <key>PosX</key>
            <string>0.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army014</key>
        <dict>
            <key>PosX</key>
            <string>1.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army015</key>
        <dict>
            <key>PosX</key>
            <string>4.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army016</key>
        <dict>
            <key>PosX</key>
            <string>3.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army017</key>
        <dict>
            <key>PosX</key>
            <string>2.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army018</key>
        <dict>
            <key>PosX</key>
            <string>0.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army019</key>
        <dict>
            <key>PosX</key>
            <string>1.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army020</key>
        <dict>
            <key>PosX</key>
            <string>2.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army021</key>
        <dict>
            <key>PosX</key>
            <string>3.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army022</key>
        <dict>
            <key>PosX</key>
            <string>0.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army023</key>
        <dict>
            <key>PosX</key>
            <string>2.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army024</key>
        <dict>
            <key>PosX</key>
            <string>1.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army025</key>
        <dict>
            <key>PosX</key>
            <string>3.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army026</key>
        <dict>
            <key>PosX</key>
            <string>2.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army027</key>
        <dict>
            <key>PosX</key>
            <string>1.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army028</key>
        <dict>
            <key>PosX</key>
            <string>0.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army029</key>
        <dict>
            <key>PosX</key>
            <string>2.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army030</key>
        <dict>
            <key>PosX</key>
            <string>1.5</string>
            <key>SpeedY</key>
            <string>-11.0</string>
        </dict>
        <key>Army031</key>
        <dict>
            <key>PosX</key>
            <string>3.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army032</key>
        <dict>
            <key>PosX</key>
            <string>2.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army033</key>
        <dict>
            <key>PosX</key>
            <string>1.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army034</key>
        <dict>
            <key>PosX</key>
            <string>0.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army035</key>
        <dict>
            <key>PosX</key>
            <string>3.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army036</key>
        <dict>
            <key>PosX</key>
            <string>2.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army037</key>
        <dict>
            <key>PosX</key>
            <string>1.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army038</key>
        <dict>
            <key>PosX</key>
            <string>0.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army039</key>
        <dict>
            <key>PosX</key>
            <string>2.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army040</key>
        <dict>
            <key>PosX</key>
            <string>1.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army041</key>
        <dict>
            <key>PosX</key>
            <string>3.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army042</key>
        <dict>
            <key>PosX</key>
            <string>2.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army043</key>
        <dict>
            <key>PosX</key>
            <string>1.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army044</key>
        <dict>
            <key>PosX</key>
            <string>0.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army045</key>
        <dict>
            <key>PosX</key>
            <string>0.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army046</key>
        <dict>
            <key>PosX</key>
            <string>3.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army047</key>
        <dict>
            <key>PosX</key>
            <string>2.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army048</key>
        <dict>
            <key>PosX</key>
            <string>1.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army049</key>
        <dict>
            <key>PosX</key>
            <string>3.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army050</key>
        <dict>
            <key>PosX</key>
            <string>2.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army051</key>
        <dict>
            <key>PosX</key>
            <string>2.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army052</key>
        <dict>
            <key>PosX</key>
            <string>3.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army053</key>
        <dict>
            <key>PosX</key>
            <string>1.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army054</key>
        <dict>
            <key>PosX</key>
            <string>0.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army055</key>
        <dict>
            <key>PosX</key>
            <string>2.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army056</key>
        <dict>
            <key>PosX</key>
            <string>1.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army057</key>
        <dict>
            <key>PosX</key>
            <string>3.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army058</key>
        <dict>
            <key>PosX</key>
            <string>2.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army059</key>
        <dict>
            <key>PosX</key>
            <string>1.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army060</key>
        <dict>
            <key>PosX</key>
            <string>0.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army061</key>
        <dict>
            <key>PosX</key>
            <string>2.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army062</key>
        <dict>
            <key>PosX</key>
            <string>1.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army063</key>
        <dict>
            <key>PosX</key>
            <string>3.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army064</key>
        <dict>
            <key>PosX</key>
            <string>2.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army065</key>
        <dict>
            <key>PosX</key>
            <string>3.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army066</key>
        <dict>
            <key>PosX</key>
            <string>1.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army067</key>
        <dict>
            <key>PosX</key>
            <string>2.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army068</key>
        <dict>
            <key>PosX</key>
            <string>3.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army069</key>
        <dict>
            <key>PosX</key>
            <string>1.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
        <key>Army070</key>
        <dict>
            <key>PosX</key>
            <string>0.5</string>
            <key>SpeedY</key>
            <string>-10.8</string>
        </dict>
    </dict>
</dict>
</plist>
