<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlueBullet01.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,205},{56,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,208}}</string>
                <key>sourceSize</key>
                <string>{58,208}</string>
            </dict>
            <key>BlueBullet02.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,196},{56,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{56,145}}</string>
                <key>sourceSize</key>
                <string>{58,155}</string>
            </dict>
            <key>BlueBullet03.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,411},{88,177}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{88,177}}</string>
                <key>sourceSize</key>
                <string>{102,191}</string>
            </dict>
            <key>FriendPlane01.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{211,224}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{211,224}}</string>
                <key>sourceSize</key>
                <string>{247,238}</string>
            </dict>
            <key>GreenPlane.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{232,192}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{232,192}}</string>
                <key>sourceSize</key>
                <string>{244,212}</string>
            </dict>
            <key>GreyPlane.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{232,201}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{232,201}}</string>
                <key>sourceSize</key>
                <string>{250,231}</string>
            </dict>
            <key>HpBarEmpty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{263,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,60}}</string>
                <key>sourceSize</key>
                <string>{263,60}</string>
            </dict>
            <key>HpBarFull.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,2},{263,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,59}}</string>
                <key>sourceSize</key>
                <string>{263,59}</string>
            </dict>
            <key>PlaneExplose01.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,263},{160,146}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,28},{160,146}}</string>
                <key>sourceSize</key>
                <string>{186,216}</string>
            </dict>
            <key>PlaneExplose02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{223,215}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{223,215}}</string>
                <key>sourceSize</key>
                <string>{237,215}</string>
            </dict>
            <key>PlaneExplose03.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,215},{150,174}}</string>
                <key>offset</key>
                <string>{25,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,14},{150,174}}</string>
                <key>sourceSize</key>
                <string>{200,206}</string>
            </dict>
            <key>PlaneExplose04.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,263},{137,160}}</string>
                <key>offset</key>
                <string>{-36,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,160}}</string>
                <key>sourceSize</key>
                <string>{209,206}</string>
            </dict>
            <key>RedBullet01.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,221},{56,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,208}}</string>
                <key>sourceSize</key>
                <string>{58,208}</string>
            </dict>
            <key>RedBullet02.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,196},{56,144}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{56,144}}</string>
                <key>sourceSize</key>
                <string>{62,150}</string>
            </dict>
            <key>RedBullet03.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,196},{88,176}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{88,176}}</string>
                <key>sourceSize</key>
                <string>{88,190}</string>
            </dict>
            <key>RedPlane.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{247,217}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{247,217}}</string>
                <key>sourceSize</key>
                <string>{247,221}</string>
            </dict>
            <key>buttonsquaredarkcyan0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,425},{73,64}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,64}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>buttonsquaredarkcyan0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,425},{75,64}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,64}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>buttonsquaredarkcyan0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,267},{73,64}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,64}}</string>
                <key>sourceSize</key>
                <string>{81,72}</string>
            </dict>
            <key>playbtndarkcyan0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,374},{123,121}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{123,121}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>playbtndarkcyan0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,342},{127,127}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>playbtndarkcyan0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,391},{119,119}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{119,119}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Plane.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:617ec16f85e9ffc0080b04963881478f:1/1$</string>
            <key>textureFileName</key>
            <string>Plane.png</string>
        </dict>
    </dict>
</plist>
